@*
    Razor - синтаксис для впровадження серверного коду в HTML сторінку
    Cимвол @ використовується для визначення початку фрагмента серверного коду в HTML розмітці
    весь Razor код виконується на сервері, а на клієнт відправляється тільки HTML розмітка, отримана в результаті виконання Razor
*@
@model List<ASPNETCoreHomeTasks_2.Models.Product>

@{
    Layout = null; // не використовувати компонування.
                   // Компонування необхідні створення сторінок по шаблону. Будуть розглянуті у наступних уроках
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h2>Список продуктов</h2>
    <table>
        @*
            Model - властивість доступна у уявленнях. Надає можливість отримати доступ до моделі, яку передав контролер.
            На даний момент у якості Model знаходиться колекція екземплярів класу Product. (Див. параметр методу View в контролері).
            Змінна item типу dynamic але на момент виконання коду в ній буде знаходитись екземплярів класу Product.
        *@
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="/Products/Details/@item.Id">Детальніше...</a>
                </td>
                <td>
                    @if (item.Quantity == 0)
                    {
                        <p>Нема на складі</p>
                    }
                    else if (item.Quantity < 5)
                    {
                        <p>Закінчується</p>
                    }
                    else
                    {
                        <p>В наявності</p>
                    }
                </td>
            </tr>
        }
    </table>
    @*
        Якщо умова виконується, відображається один фрагмент HTML коду.
        Інакше відображається блок HTML коду else
    *@
    @if (Model.Count != 0)
    {
        <p>
            Всего: @Model.Count
        </p>
    }
    else
    {
        <p>
            Список порожній.
        </p>
    }
</body>
</html>


